In [3]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
url = 'https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/14_SeveralIndepLists.csv'
df = pd.read_csv(url,on_bad_lines='skip')
df

                            artist "song" "word"
0                      booba "113" "paroles.net"
1                            booba "113" "above"
2                           booba "113" "lyrics"
3                         booba "113" "function"
4                              booba "113" "var"
...                                          ...
11290       nekfeu "squa" "r.onreadystatechange"
11291                       nekfeu "squa" "null"
11292                   nekfeu "squa" "r.onload"
11293  nekfeu "squa" "s.parentnode.insertbefore"
11294                          nekfeu "squa" "r"

[11295 rows x 1 columns]

In [38]:
print(df.iloc[0][0])

booba "113" "paroles.net"

In [34]:
artists = []
song = []
word = []

In [50]:
for i in range(len(df)):
    if df.loc[i][0].split()[2] == '"null"':
        continue
    else:
        artists.append(df.iloc[i][0].split()[0])
        song.append(df.iloc[i][0].split()[1])
        word.append(df.iloc[i][0].split()[2])

In [51]:
data = pd.DataFrame()
data['artist'] = artists
data['song'] = song
data['word'] = word

In [52]:
data

       artist    song                         word
0       booba   "113"                      "above"
1       booba   "113"                      "above"
2       booba   "113"                      "above"
3       booba   "113"                      "above"
4       booba   "113"                      "above"
...       ...     ...                          ...
90215  nekfeu  "squa"               "r.readystate"
90216  nekfeu  "squa"       "r.onreadystatechange"
90217  nekfeu  "squa"                   "r.onload"
90218  nekfeu  "squa"  "s.parentnode.insertbefore"
90219  nekfeu  "squa"                          "r"

[90220 rows x 3 columns]