In [2]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import pandas as pd
from matplotlib import cm
import plotly.express as px

In [22]:
data = pd.read_csv("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/6_SeveralNum.csv")
#print(data)
# Set first column as index
#print(data['Unnamed: 0'])
data.index = data['Unnamed: 0'] 
data = data.iloc[:,1:]
data.head()
#data.head(6).style.set_table_styles([{'selector': 'tr:nth-of-type(odd)', 'props': [('background', '#f9f9f9')]}, {'selector': 'th', 'props': [('text-align', 'left')]},{'selector': 'th', 'props': [('background-color', '#69b3a2')]}])

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Unnamed: 0,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [23]:
df = data[['disp', 'drat', 'hp', 'mpg', 'qsec', 'wt']]
print(df)
# data = data[['disp', 'drat', 'hp', 'mpg', 'qsec', 'wt']].values
# print(df)
# sns.histplot(data=data, x=data['Unnamed: 0	'], hue='variable', element='step', multiple='stack', fill='#69b3a2')

                      disp  drat   hp   mpg   qsec     wt
Unnamed: 0
Mazda RX4            160.0  3.90  110  21.0  16.46  2.620
Mazda RX4 Wag        160.0  3.90  110  21.0  17.02  2.875
Datsun 710           108.0  3.85   93  22.8  18.61  2.320
Hornet 4 Drive       258.0  3.08  110  21.4  19.44  3.215
Hornet Sportabout    360.0  3.15  175  18.7  17.02  3.440
Valiant              225.0  2.76  105  18.1  20.22  3.460
Duster 360           360.0  3.21  245  14.3  15.84  3.570
Merc 240D            146.7  3.69   62  24.4  20.00  3.190
Merc 230             140.8  3.92   95  22.8  22.90  3.150
Merc 280             167.6  3.92  123  19.2  18.30  3.440
Merc 280C            167.6  3.92  123  17.8  18.90  3.440
Merc 450SE           275.8  3.07  180  16.4  17.40  4.070
Merc 450SL           275.8  3.07  180  17.3  17.60  3.730
Merc 450SLC          275.8  3.07  180  15.2  18.00  3.780
Cadillac Fleetwood   472.0  2.93  205  10.4  17.98  5.250
Lincoln Continental  460.0  3.00  215  10.4  17.82  5.424
Chrysler Imperial    440.0  3.23  230  14.7  17.42  5.345
Fiat 128              78.7  4.08   66  32.4  19.47  2.200
Honda Civic           75.7  4.93   52  30.4  18.52  1.615
Toyota Corolla        71.1  4.22   65  33.9  19.90  1.835
Toyota Corona        120.1  3.70   97  21.5  20.01  2.465
Dodge Challenger     318.0  2.76  150  15.5  16.87  3.520
AMC Javelin          304.0  3.15  150  15.2  17.30  3.435
Camaro Z28           350.0  3.73  245  13.3  15.41  3.840
Pontiac Firebird     400.0  3.08  175  19.2  17.05  3.845
Fiat X1-9             79.0  4.08   66  27.3  18.90  1.935
Porsche 914-2        120.3  4.43   91  26.0  16.70  2.140
Lotus Europa          95.1  3.77  113  30.4  16.90  1.513
Ford Pantera L       351.0  4.22  264  15.8  14.50  3.170
Ferrari Dino         145.0  3.62  175  19.7  15.50  2.770
Maserati Bora        301.0  3.54  335  15.0  14.60  3.570
Volvo 142E           121.0  4.11  109  21.4  18.60  2.780